.image {
  width: 350px;
  height: 350px;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.list {
  list-style: none;
  padding-left: 0;
}

.name {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}

.info {
  width: 200px;
}

.greenText {
  color: rgb(10, 101, 10)
}

.redText {
  color: rgb(99, 10, 10);
}