.image {
  width: 350px;
  height: 350px;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.list {
  list-style: none;
  padding-left: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.name {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}

.info {
  width: 200px;
}

.greenText {
  color: rgb(10, 101, 10);
}

.redText {
  color: rgb(99, 10, 10);
}

@media screen and (max-width: 650px) {
  .card {
    flex-direction: column;
  }

  .name {
    text-align: center;
  }

  .name {
    font-size: 30px;
    font-weight: 600;
    line-height: 32px;
  }

  .list {

    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
  }
}

@media screen and (max-width: 450px) {
  .image {
    width: 300px;
    height: 300px;
  }
}
